<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bienvenido a Resultados K@PTA</title>
	<% include partials/head %>
	<style>
	.container{
		margin-top: 30vh;
	}
	</style>

</head>

<body>
	<section id="bg-cont">
		<div class="container">
				<h1>Loading...</h1>
			</div>
	</section>
	<script type="text/javascript">
		setTimeout(function() {
				window.location.href = '/login';
		}, 1000);
</script> 
</body>
</html>