<!DOCTYPE html>
<html lang="en">
<head>
	<title>Authentication with Node</title>
	<% include partials/head %>
	<style>
	.container{
		margin-top: 30vh;
	}
	.card{
		background-color: rgba(255, 255, 255, 0.8);
	}
	</style>

</head>

<body>
	<section id="bg-cont">
		<div class="container">
				<div class="card text-center mt-5">
					<div class="card-body">
						<div class="row">
							<div class="col left-logo" style="border-right: 1px solid rgba(0,0,0,.1);">
									<img src=/img/logo/kapta.png alt="logo de K@PTA"/>
									<hr />
									<img src=/img/logo/classmarker.png  alt="logo de K@PTA"/>
							</div>
							<div class="col">
									<h3 style="margin-top: 5vh;">Inicia Sesión para continuar.</h3>
									<a href="/login" class="btn btn-light">
										<span class="fa fa-user"></span> Iniciar Sesión
									</a>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
	<script src="/js/jquery.3.2.1.min.js" type="text/javascript"></script>
	<script src="/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/js/chartist.min.js"></script>
	<script src="/js/bootstrap-notify.js"></script>
	<script src="/js/light-bootstrap-dashboard.js?v=1.4.0"></script>
</body>
</html>