<!DOCTYPE html>
<html lang="en">
<head>
	<title>Authentication with Node</title>
	<% include partials/head %>
</head>

<body>
	<div className="sidebar" data-color="orange" data-image="/img/sidebar-kapta.png"></div>
	<div class="container">
		<div class="card text-center mt-5">
			<div class="card-body">
				<img src=/img/kapta.png height="70" alt="logo de K@PTA"/>
				<h1><span class="fa fa-block"></span>Classmarker K@PTA</h1>
				<p>Inicia Sesión para continuar</p>
				<!--<p>Login or Register</p>-->
				<a href="/login" class="btn btn-light">
					<span class="fa fa-user"></span> Iniciar Sesión
				</a>

			</div>
		</div>
	</div>
<script>
	console.log($('.sidebar'))
</script>
</body>
</html>
