<!DOCTYPE html>
<html lang="en">
<head>
	<title>Evaluaciones</title>
	<% include partials/head %>
</head>
<body>

    <% include partials/left_column %>

    <div class="main-panel">
        
        <% include partials/navbar %>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card strpied-tabled-with-hover">
                            <div class="card-header ">
                                <h4 class="card-title">Evaluaciones asociadas a <%= resultUser[0].local.email %></h4>
                                <p class="card-category">Lista de nombres de evaluaciones disponibles para su perfil. Haga clic en el botón azul de la derecha para ingresar a la evaluación y ver sus resultados.</p>
                            </div>
                            <div class="card-body table-full-width table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                          <th>Nombre de evaluación</th>
                                          <th></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <% items.forEach(function(item) { %> 
                                        <tr>
                                          <!-- Filtrar id_inst con id capturado del instructor -->
                                          <% if((item.id_inst)==(id_inst)){ %>
                                              <td><%= item.link_name %></td>
                                              <td><a href="/list_test/<%= item.link_url_id %>&<%= resultUser[0].id %>">Ver resultados</a></td>
                                        </tr>
                                        <% }}); %>
                                      </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>



      </div>


</body>
</html>
