<!DOCTYPE html>
<html lang="en">
<head>
	<title>Authentication with Node</title>
	<% include partials/head %>
</head>
<body>

  <div class="main-panel">
    
      <% include partials/navbar %>

      <div class="content">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12">
                      <div class="card strpied-tabled-with-hover">
                          <div class="card-header ">
                              <h4 class="card-title">Mis Participantes</h4>
                              <p class="card-category">Lista de de los Access code asignados a mi perfil.</p>
                          </div>
                          <div class="card-body table-full-width table-responsive">
                              <table class="table table-hover table-striped">
                                  <thead>
                                      <tr>
                                        <th>Access code</th>
                                        <th>Enlace</th>
                                        <th>Opción</th>
                                      </tr>
                                    </thead>
                                    
                                    <tbody>
                                      <% participantes.forEach(function(participante) { %> 
                                      <%lresult.forEach(function(lr){%>
                                          <%if(participante.link_url_id==lr.link_url_id){ %>
                                      <tr>
                                        <!-- se hace foreach para ver los link_url_id y filtrar
                                        los relacionados con los participantes -->
                                        <!-- Lresult, resultado busqueda de LSchema por id_inst segun id
                                        del consultor -->
                                        
                                        <!-- Muestra solo instructores -->
                                        
                                          <td><%= participante.access_code%></td>
                                          <!--condicion para obtener nombre del test -->
                                          <td><%
                                          if(participante.link_url_id==lr.link_url_id)
                                          {%>
                                            <%= lr.link_name %>
                                          <% }
                                          %></td>
                                          <td><a href="#">Ver Detalles</a></td>
                                            
                                            <!-- Se envia por GET el id del instructor -->
                                      </tr>
                                      <% } %>
                                      <% }) %>
                                      <% }); %>
                                    </tbody>
                                    
                              </table>
                          </div>
                      </div>
                      
                      <div class="card strpied-tabled-with-hover">
                          <div class="card-header ">
                              <h4 class="card-title">Participantes sin presentar</h4>
                              <p class="card-category">Lista de de los codigo de acceso sin usar aun.</p>
                          </div>
                          <div class="card-body table-full-width table-responsive">
                              <table class="table table-hover table-striped">
                                  <thead>
                                      <tr>
                                        <th>Access code</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      
                                    <!-- Se define una lista vacia para comparar access_code
                                    ya utilizados con los libres -->
                                    <% var list_array = [] 
                                    participantes.forEach(function(participante, index){ 
                                    list_array.push(participante.access_code) 
                                    //por cada iteración me añade al list_array los access_code encontrados
                                    }) %>
                                    
                                    <!-- si existe access_code no se muestra -->
                                      <% participantes_totales.forEach(function(p_totales) { 
                                       if(list_array.includes(p_totales.access_code)==false){%> 
                                      <tr>
                                          <td><%=p_totales.access_code%></td>
                                      </tr>
                                      
                                      <% } %>
                                      <% }); %>
                                    </tbody>
                              </table>
                          </div>
                      </div>
                                    
                  </div>
                </div>
              </div>
            </div>
  </div>


   <% include partials/left_column %>
</div>
</body>
</html>
