<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <% include partials/head %>
  </head>
  <body class="signup">
    <div class="container">
      <div class="col-sm-6 mx-auto">
        <div class="card mt-5">
          <div class="card-body">
            <!-- messages -->
            <h1 class="text-center">
              <img width="60px" src="https://pbs.twimg.com/profile_images/836695399809302528/568l42NJ_400x400.jpg">
              <span class="fa fa-sign-in"></span> Registro
            </h1>
            <% if (message.length > 0) { %>
              <div class="alert alert-danger">
                <%= message %>
              </div>
            <% } %>

            <!-- form -->
            <form action="/new" method="post">
              <div class="form-group">
                <label for="email">Id participante</label>
                <input type="text" name="access_code" class="form-control" required>
                <input type="text" name="id_inst" value="<% iduser=user._id %><%= iduser %>" style="display:none">
              </div>
              <input type="submit" class="btn btn-dark btn-lg" value="Registrame">
            </form>

            <hr>
            <div class="text-center">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
