<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <% include partials/head %>
  </head>
  <body class="signup">
      <section id="bg-cont">


          <div class="container">
              <div class="col-sm-6 mx-auto">
                <div class="card mt-5">
                  <div class="card-body">
                    <!-- messages -->

                        <div class="col-sm-12 ">
                          <div class="row">
                            <div class="col login-img" style="border-right: 1px solid rgba(0,0,0,.1);">
                                <img src=/img/logo/kapta.png alt="logo de K@PTA"/>
                            </div>
                          </div>
                        </div>
                        <hr />
                        <div class="col-sm-12" style="margin-top: 20px;">
                          <h1>Registrar link</h1>
                        </div>
                    <% if (message.length > 0) { %>
                      <div class="alert alert-danger">
                        <%= message %>
                      </div>
                    <% } %>
        
                    <!-- form -->
                    <form action="/newlink" method="post">
                      <div class="form-group">
                        <label for="email">URL link</label>
                        <input type="text" name="link_url_id" class="form-control" required>
                      </div>
                      <input type="submit" class="btn btn-dark btn-lg" value="Registrar">
                    </form>
        
                    <hr>
                    <div class="text-center">
                    </div>
                  </div>
                </div>
              </div>
            </div>


      </section>
  </body>
</html>
