<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Perfil</title>
    <% include partials/head %>
  </head>
  <body>
    <div class="container">
      <header class="text-center">
        <h1>Perfil</h1>
      </header>
      <hr>
      <div class="container">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><span class="fa fa-user"></span><%sa=user.sa; if(sa==1){%> SuperAdmin <% }else{ %> Instructor <% } %></h3>
              <p>
                <strong>id</strong> : <% iduser=user._id %><%= iduser %> <br>
                <strong>email</strong> : <%= user.local.email %> <br>
                <strong>password</strong> : <%= user.local.password %> <br>
                
                
              </p>
              <a href="/logout" class="btn btn-light btn-sm">
              <button class="btn btn-danger">
                Cerrar Sesión
                </button>
              </a>
              <% if (sa == 1){ %>
              <a href="/signup" class="btn btn-light btn-sm">
                <button class="btn btn-default">
                Registrar Instructor
                </button>
              </a>
              <% } %>
              <!-- Botoon prueba 
              <a href="/signup" class="btn btn-light btn-sm">
                Registrar Instructor
              </a>-->
              <% if (sa != 1){ %>
              <a href="/newpart" class="btn btn-light btn-sm">
              <button class="btn btn-primary">
                Registrar participante
              </button>
              </a>
              <% } %>
              
              <% if (sa == 1){ %>
              <a href="/list" class="btn btn-light btn-sm">
                <button class="btn btn-success">
                Ver Lista Instructores
                </button>
              <% } %>
              
              <% if (sa != 1){ %>
              <a href="/link_inst/<%= iduser %>" class="btn btn-light btn-sm">
                <button class="btn btn-success">
                Ver mis links
                </button>
              </a>
               <% } %>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </body>
</html>
