<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inicio</title>
    <% include partials/head %>
  </head>
  <body>


    <div class="main-panel">
    <% include partials/navbar %>
        <div class="content">
            <div class="col-sm-12">
                <div class="card">
                <div class="card-body">

                    <% if (user.sa == 1){ %>
                    <a href="/signup" class="btn btn-light btn-sm">
        
                    Registrar Instructor

                    </a>
                    
                    <a href="/list" class="btn btn-light btn-sm">
                    Ver Lista Instructores
                    </a> 
                    
                    <a href="/categories" class="btn btn-light btn-sm">
                    Ver Categorias
                    </a> 
                    <form action="/adminsearch">
                        <br><h5>Barra de búsqueda</h5>
                    <div class="form-group row" >
                        <div class="col-8">
                            <input class="form-control" type="search" name="search" placeholder="Buscar por código de acceso" required/>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-light">Buscar</button>
                        </div>
                    </div>
                    </form>
                    
                    <% } %>
                    
                    <% if (user.sa == 0){ %>
                    <form action="/consultor_search">
                        
                        <h4>Barra de búsqueda</h4>
                    <div class="form-group row" >
                        <div class="col-8">
                            <input class="form-control" type="search" name="search" placeholder="Buscar por código de acceso" required/>
                            <input class="form-control" type="search" name="id_inst" value="<%=user._id%>" style="display:none">
                        </div>
                        <div class="col-2">
                            <button class="btn btn-light">Buscar</button>
                        </div>
                    </div>
                    </form>
                    
                    <% } %>
                    
                </div>
                </div>                 
            </div>
           
        
        <!-- prueba -->
        
        <% if(user.sa==1){
            participantes==0
            
        }else if(user.sa==0){ %>
        
        <div class="col-sm-12">
                <div class="card">
                        <div class="card-header ">
                                <h4 class="card-title">Ultimos resultados...</h4>
                                <p class="card-category">Listado de sus participantes que han hecho la evaluación asignada.</p>
                            </div>
                    <div class="card-body">
                <table class="table table-hover table-striped">
                                  <thead>
                                      <tr>
                                        <th>Código de Acceso/Participante</th>
                                        <th>Nombre de la evaluación</th>
                                        <th>Fecha</th>
                                      </tr>
                                    </thead>
                                    
                                    <tbody>
                                        
                <% if(participantes!=""){
                participantes.forEach(function(participante) { %> 
                    <%lresult.forEach(function(lr){%>
                    <%if(participante.link_url_id==lr.link_url_id){ %>
                    
                    <tr>
                        <td><%=participante.access_code%></td>
                        
                        <td><%
                            if(participante.link_url_id==lr.link_url_id)
                        {%>
                        <%= lr.link_name %>
                        <% } %>
                        </td>
                        <td><%= timeConverter(participante.time_finished) %></td>
                    </tr>
                    <% } %>
                    <% }) %>
                    <% }); }else{%>
                    
                    </tbody>
                                    
                      </table>
                    </di>
                    No tienes usuarios inscritos<% } %>
                </div>
            </div>
        </div><% } %>
        
    </div>
    
    <% function timeConverter(UNIX_timestamp)
    {
        var a = new Date(UNIX_timestamp * 1000);
        var months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
        var year = a.getFullYear();
        var month = months[a.getMonth()];
        var date = a.getDate();
        var hour = a.getHours();
        var min = a.getMinutes();
        var sec = a.getSeconds();
        var time = date + ' ' + month + ' ' + year + ' a las  ' + hour + ':' + min + ':' + sec ;
        return time;
        }
    %>

     <% include partials/left_column %>

  </body>
</html>
