<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Perfil</title>
    <% include partials/head %>
  </head>
  <body>


    <div class="main-panel">
        <nav class="navbar navbar-expand-lg " color-on-scroll="500">
            <div class=" container-fluid  ">
                <a class="navbar-brand" href="#"> 
                    
                    <% sa=user.sa; 
                    if(sa==1){%> 
                        Administrador 
                    <% }else{ %>
                    <p>
                        <strong>Instructor</strong> : <% iduser=user._id %><%= iduser %> <br>    
                    </p>

                    <% } %> 
                
                </a>
                
                <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                    <span class="navbar-toggler-bar burger-lines"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="dropdown">
                                <i class="nc-icon nc-palette"></i>
                                <span class="d-lg-none">Dashboard</span>
                            </a>
                        </li>
                        <!--
                        <li class="dropdown nav-item">
                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <i class="nc-icon nc-planet"></i>
                                <span class="notification">5</span>
                                <span class="d-lg-none">Notification</span>
                            </a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" href="#">Notification 1</a>
                                <a class="dropdown-item" href="#">Notification 2</a>
                                <a class="dropdown-item" href="#">Notification 3</a>
                                <a class="dropdown-item" href="#">Notification 4</a>
                                <a class="dropdown-item" href="#">Another notification</a>
                            </ul>
                        </li>
                        -->
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#pablo">
                                <span class="no-icon">Cuenta</span>
                            </a>
                        </li>
                        <!--
                        <li class="nav-item dropdown">
                            <a href="/menu" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="no-icon">Menu</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <% if (sa == 1){ %>
                                <a class="dropdown-item" href="#">Registrar Instructor</a>
                                <a class="dropdown-item" href="#">Instructores</a>
                                <a class="dropdown-item" href="#">Categorias</a>
                                <% } %>
                                <% if (sa == 0){ %>
                                <a class="dropdown-item" href="#">Registrar Participante</a>
                                <a class="dropdown-item" href="#">Mis links</a>
                                <a class="dropdown-item" href="#">Mis participantes</a>
                                <% } %>
                            </div>
                        </li>
                    -->
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">
                                <span class="no-icon">Salir</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">


            <div class="col-sm-12">
                <div class="card">
                <div class="card-body">
                    <p>
                    Bienvenido <strong><%= user.local.email %></strong> <br>
                    </p>

                    <% if (user.sa == 1){ %>
                    <a href="/signup" class="btn btn-light btn-sm">
        
                    Registrar Instructor

                    </a>
                    
                    <a href="/list" class="btn btn-light btn-sm">
                    Ver Lista Instructores
                    </a> 
                    
                    <a href="/categories" class="btn btn-light btn-sm">
                    Ver Categorias
                    </a> 
                    <form action="/adminsearch">
                    <div class="form-group row" >
                        <div class="col-8">
                        <input class="form-control" type="search" name="search" placeholder="Buscar link o test o access code" />
                        </div>
                    <div class="col-2">
                        <button class="btn btn-light">Buscar</button>
                    </div>
                    </div>
                    </form>
                    
            
                    <% } %>
                    
                    <% if (user.sa == 0){ %>
                    <a href="/newpart" class="btn btn-light btn-sm">
                    <button class="btn btn-primary">
                    Registrar participante
                    </button>
                    </a>
                    
                    <a href="/link_inst/<%= user.iduser %>" class="btn btn-light btn-sm">
                    <button class="btn btn-success">
                    Ver mis links
                    </button>
                    </a>
                    
                    <a href="/list_part" class="btn btn-light btn-sm">
                    <button class="btn btn-success">
                    Ver Participantes asociados
                    </button>
                    </a>
                    
                    <% } %>
                    
                </div>
                </div>                 
            </div>

        </div>
    </div>

    <div style="position:fixed;" class="sidebar" data-color="orange" data-image="/img/sidebar-kapta.png">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="https://www.kapta.biz" rel="noopener noreferrer" target="_blank"  className="simple-text">
                    <img src="/img/logo/kapta_white.png" alt="logo de K@PTA"/>
                </a>
            </div>
            <ul class="nav">
                <% if (sa == 1){ %>
                <li class="nav-item active">
                    <a class="nav-link" href="/profile">
                        <i class="nc-icon nc-notes"></i>
                        <p>Resumen</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/list">
                        <i class="nc-icon nc-circle-09"></i>
                        <p>Instructores</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/categories">
                        <i class="nc-icon nc-chart-pie-35"></i>
                        <p>Categorias</p>
                    </a>
                </li>
                <% } %>
                        
                <% if (sa == 0){ %>


                <li class="nav-item active">
                        <a class="nav-link" href="dashboard.html">
                            <i class="nc-icon nc-notes"></i>
                            <p>Resumen</p>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" href="./user.html">
                            <i class="nc-icon nc-circle-09"></i>
                                <p>Mi perfil</p>
                            </a>
                        </li>
                    <li>
                        <a class="nav-link" href="./user.html">
                            <i class="nc-icon nc-circle-09"></i>
                            <p>Estadísticas</p>
                        </a>
                    </li>

                <% } %>

                <li class="nav-item active active-pro">
                    <a class="nav-link active" href="http://kapta.biz" rel="noopener noreferrer" target="_blank">
                        <i class="nc-icon nc-alien-33"></i>
                        <p>Acerca de K@PTA</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

  </body>
</html>
