<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Perfil</title>
    <% include partials/head %>
  </head>
  <body>

      <nav class="navbar navbar-default navbar-fixed">
					<div class="container-fluid">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<p class="navbar-brand">Resultados</p>
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav navbar-left">
								<li class="dropdown">
									<a href="/ultimos_tests" class="dropdown-toggle" data-toggle="dropdown">
											<i class="fa fa-globe"></i>
											<b class="caret hidden-sm hidden-xs"></b>
											<span class="notification hidden-sm hidden-xs">1</span>
											<p class="hidden-lg hidden-md">
												Notificaciones
												<b class="caret"></b>
											</p>
									</a>
									<ul class="dropdown-menu">
										<li><a href="/notificaciones">Notification 1</a></li>
									</ul>
								</li>
								<li>
								<a href="">
										<i class="fa fa-search"></i>
										<p class="hidden-lg hidden-md">Search</p>
									</a>
								</li>
							</ul>

							<ul class="nav navbar-nav navbar-right">
								<li>
								<a href="/perfil">
									<p>Perfil</p>
									</a>
								</li>
								<li class="dropdown">
									<a href="/estadisticas" class="dropdown-toggle" data-toggle="dropdown">
											<p>
												Contenido
												<b class="caret"></b>
											</p>

									</a>
									<ul class="dropdown-menu">
										<li><a href="/links">Links</a></li>
										<li><a href="/groups">Grupos</a></li>
										<li class="divider"></li>
										<li><a href="http://kapta.biz" rel="noopener noreferrer" target="_blank">Contacto</a></li>
									</ul>
								</li>
								<li>
									<a href="/login">
										<p>Cerrar Sesión</p>
									</a>
								</li>
								<li class="separator hidden-lg hidden-md"></li>
							</ul>
						</div>
					</div>
				</nav>


    <div class="container">
      <header class="text-center">
        <h1>Perfil</h1>
      </header>
      <hr>
      <div class="container">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><span class="fa fa-user"></span><%sa=user.sa; if(sa==1){%> Administrador <% }else{ %> Instructor <% } %></h3>
              <p>
                Bienvenido <strong><%= user.local.email %></strong> <br>
              </p>
              
              <a href="/logout" class="btn btn-light btn-sm">
              <button class="btn btn-danger">
                Cerrar Sesión
                </button>
              </a>
              
              <!-- OPCIONES SUPERADMIN -->
              
              <% if (sa == 1){ %>
              <a href="/signup" class="btn btn-light btn-sm">
                <button class="btn btn-default">
                Registrar Instructor
                </button>
              </a>
              
              <a href="/list" class="btn btn-light btn-sm">
                <button class="btn btn-success">
                Ver Lista Instructores
                </button>
              </a> 
              
              <a href="/categories" class="btn btn-light btn-sm">
                <button class="btn btn-primary">
                Ver Categorias
                </button>
              </a> 
              <br><br>
              <hr>
                <form action="/adminsearch">
                  <label for="example-search-input" class="col-12 col-form-label">Ingrese su busqueda por "ACCESS CODE, link o Test"</label>
                  <div class="form-group row" >
                      <div class="col-8">
                      <input class="form-control" type="search" name="search" placeholder="Ingrese su busqueda">
                  </div>
                  <div class="col-2">
                     <button>Buscar</button>
                  </div>
                  </div>
                </form>
              
         
              <% } %>
              
              <!-- OPCIONES INSTRUCTOR -->
              
              <% if (sa == 0){ %>
              <a href="/newpart" class="btn btn-light btn-sm">
              <button class="btn btn-primary">
                Registrar participante
              </button>
              </a>
              
              <a href="/link_inst/<%= iduser %>" class="btn btn-light btn-sm">
                <button class="btn btn-success">
                Ver mis links
                </button>
              </a>
              
              <a href="/list_part" class="btn btn-light btn-sm">
                <button class="btn btn-success">
                Ver Participantes asociados
                </button>
              </a>
              
               <% } %>
               
            </div>
          </div>
          <br>
          
          
         
        </div>
      </div>
      </div>
    </div>

  </body>
</html>
