<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <% include partials/head %>
  </head>
  <body class="signup">
    <div id="bg-cont">
        <div class="container">
            <div class="col-sm-12 col-lg-6 mx-auto" style="margin-top: 25vh;">
              <div class="card mt-5">
                <div class="card-body">
                  <!-- messages -->
                    <div class="col-sm-12 ">
                      <div class="row">
                        <div class="col login-img" style="border-right: 1px solid rgba(0,0,0,.1);">
                            <img src=/img/logo/kapta.png alt="logo de K@PTA"/>
                        </div>
                      </div>
                    </div>

                    <br />
   
                  <% if (message.length > 0) { %>
                    <div class="alert alert-danger">
                      <%= message %>
                    </div>
                  <% } %>
      
                  <!-- form -->
                  <form action="/login" method="post">
                    <div class="form-group">
                      <label for="email">Correo electrónico</label>
                      <input type="email" name="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="password">Contraseña</label>
                      <input type="password" name="password" class="form-control" required>
                    </div>
                    <input type="submit" class="btn btn-dark btn-lg" value="Registrar Instructor">
                  </form>
                  <div class="text-center">
                  </div>
                </div>
              </div>
            </div>
          </div>
      
    </div>
    </body>
</html>
