<!DOCTYPE html>
<html>

<head>
    <title lang="es">Evaluaciones</title>
    <title lang="en">Evaluations</title>
    <% include partials/head %>
</head>

<body>

    <% include partials/left_column %>

        <div class="main-panel">

            <% include partials/navbar %>

                <div class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card strpied-tabled-with-hover">
                                    <div class="card-header ">

                                        <p lang="es" class="card-category">Lista de evaluaciones disponibles para su perfil.
                                            Haga clic en el botón azul de la derecha para ingresar a la evaluación y ver
                                            sus resultados.</p>
                                        <p lang="en" class="card-category">Evaluation's list availables for your profile.
                                            Click on the blue button at rigth to see the evaluation and its results.</p>
                                    </div>
                                    <div class="card-body table-full-width table-responsive">
                                        <table class="table table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th lang="es">Nombre de evaluación</th>
                                                    <th lang="en">Evaluation's name</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% items.forEach(function(item) { %>
                                                    <tr>
                                                        <!-- Filtrar id_inst con id capturado del instructor -->
                                                        <td>
                                                            <%= item.test_name %>
                                                        </td>
                                                        <td>
                                                            <a lang="es" href="#>">Ver resultados
                                                            </a>
                                                            <a lang="en" href="#">See results
                                                            </a>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <% }); %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



        </div>


</body>

</html>