<!DOCTYPE html>
<html>

<head>
    <title lang="es">Evaluaciones</title>
    <title lang="en">Evaluations</title>
    <% include partials/head %>
</head>

<body>

    <% include partials/left_column %>

    <div class="main-panel">

        <% include partials/navbar %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <h2 class="text-center">
                            Asesor Comercial Interno BMW Group
                        </h2>
                    </div>
                    <br><br><br><br>
                    <div class="col-md-5 my-auto">
                        <div class="card text-center mx-auto">
                            <div class="card-body">
                                <h4 class="card-title">
                                    Codigo de acceso: <span>V6KW</span>
                                </h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2 my-auto">
                    </div>

                    <div class="col-md-5 my-auto">
                        <div class="card mx-auto">
                            <div class="card-body">
                                <h1 class="card-title text-center" style="color:green">
                                    23.2%
                                </h1>
                                <table style="width:100%">
                                    <tbody>
                                        <tr>
                                            <td>Puntos:</td>
                                            <td>19 de 80</td>
                                        </tr>
                                        <tr>
                                            <td>Duración:</td>
                                            <td>00:05:29</td>
                                        </tr>
                                        <tr>
                                            <td>Fecha de Inicio:</td>
                                            <td>12/09/18 17:00</td>
                                        </tr>
                                        <tr>
                                            <td>Fecha de finalización:</td>
                                            <td>12/09/18 17:06</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card strpied-tabled-with-hover container-fluid">
                            <div class="card-header">
                                <h4 class="card-title">Categorias</h4>
                            </div>
                            <div class="card-body table-full-width table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 40%">Categoria</th>
                                            <th style="width: 30%">Promedio</th>
                                            <th style="width: 10%">&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                            <th style="width: 20%">Respuestas</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="card container-fluid">
                            <div class="card-header">
                                <h4 class="card-title">Respuestas</h4>
                                <h5 class="card-subtitle mb-2 text-muted">
                                        <i class="fas fa-check-circle" style="color:#009933"> </i> Respuesta correcta  
                                        <i class="fas fa-times-circle" style="color:#d80c0c"> </i> Respuesta incorrecta  
                                        <i class="fas fa-arrow-alt-circle-right" style="color:#1120ec"> </i> Opcion correcta omitida
                                </h5>
                            </div>

                            <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
                                    <li class="nav-item">
                                      <a class="nav-link active" id="all_question-tab" data-toggle="tab" href="#all_question" role="tab" aria-controls="all_question" aria-selected="true">Todas</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="corrrect_question-tab" data-toggle="tab" href="#corrrect_question" role="tab" aria-controls="corrrect_question" aria-selected="false">19 Correctas</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="partial_question-tab" data-toggle="tab" href="#partial_question" role="tab" aria-controls="partial_question" aria-selected="false">11 Parcialmente correctas</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" id="wrong_question-tab" data-toggle="tab" href="#wrong_question" role="tab" aria-controls="wrong_question" aria-selected="false">50 Incorrectas</a>
                                    </li>
                                  </ul>

                                  <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="all_question" role="tabpanel" aria-labelledby="all_question-tab">
                                                <div class="card">
                                                        <div class="card-header">
                                                          <h4 class="card-title">Pregunta 1 de 80</h4> 
                                                          <h5 class="card-subtitle mb-2 text-muted">Garantía de los productos</h5>
                                                        </div>
                                                        <div class="card-body">
                                                          <h5 class="card-title">El periodo de garantía por defectos en la pintura es de:</h5>
                                                          <p class="card-text">
                                                                <ol>
                                                                        <li class="answer">1 año </li>
                                                                        <li class="correct answer">Dapibus ac facilisis in </li>
                                                                        <li class="answer">Morbi leo risus  </li>
                                                                        <li class="answer">Porta ac consectetur ac</li>
                                                                      </ol>
                                                          </p>
                                                        </div>
                                                        <div class="card-footer text-muted">
                                                                Puntos: 1 de 1
                                                              </div>
                                                      </div>

                                                      <div class="card">
                                                            <div class="card-header">
                                                              <h4 class="card-title">Pregunta 1 de 80</h4> 
                                                              <h5 class="card-subtitle mb-2 text-muted">Garantía de los productos</h5>
                                                            </div>
                                                            <div class="card-body">
                                                              <h5 class="card-title">Indique en el numero al que corresponde cada tipo de banderas exteriores de BMW:<br /><br /><br /><br /><img src="https://0cm.classmarker.com/3640672_794BTD9G.jpg"  style="max-width:95%;" alt="" border="0"/></h5>
                                                              <p class="card-text">
                                                                    <ol>
                                                                            <li class="correct answer"> <ol><li>a</li><li>b</li></ol><i class="fas fa-check-circle" style="color:lawngreen"></i></li>
                                                                            <li>Dapibus ac facilisis in <i class="fas fa-times-circle" style="color:crimson"></i></li>
                                                                            <li>Morbi leo risus <i class="fas fa-arrow-alt-circle-left" style="color:darkblue"></i> </li>
                                                                            <li>Porta ac consectetur ac</li>
                                                                            <li>Vestibulum at eros</li>
                                                                          </ol>
                                                              </p>
                                                            </div>
                                                            <div class="card-footer text-muted">
                                                                    Puntos: 1 de 1
                                                                  </div>
                                                          </div>

                                                          <div class="card">
                                                                <div class="card-header">
                                                                  <h4 class="card-title">Pregunta 1 de 80</h4> 
                                                                  <h5 class="card-subtitle mb-2 text-muted">Garantía de los productos</h5>
                                                                </div>
                                                                <div class="card-body">
                                                                  <h5 class="card-title">El periodo de garantía por defectos en la pintura es de:</h5>
                                                                  <p class="card-text">
                                                                        <ol>
                                                                                <li class="correct answer">Cras justo odioi  <i class="fas fa-check-circle" style="color:lawngreen"></i></li>
                                                                                <li class="wrong answer ">Dapibus ac facilisis in <i class="fas fa-times-circle" style="color:crimson"></i></li>
                                                                                <li class="missed answer">Morbi leo risus <i class="fas fa-arrow-alt-circle-left" style="color:darkblue"></i> </li>
                                                                                <li class="answer">Porta ac consectetur ac</li>
                                                                                <li class="answer">Vestibulum at eros</li>
                                                                              </ol>
                                                                  </p>
                                                                </div>
                                                                <div class="card-footer text-muted">
                                                                        Puntos: 1 de 1
                                                                      </div>
                                                              </div>
                                        </div>
                                        <div class="tab-pane fade" id="corrrect_question" role="tabpanel" aria-labelledby="corrrect_question-tab">
                                                <div class="card">
                                                        <div class="card-header">
                                                          <h4 class="card-title">Pregunta 1 de 80</h4> 
                                                          <h5 class="card-subtitle mb-2 text-muted">Garantía de los productos</h5>
                                                        </div>
                                                        <div class="card-body">
                                                          <h5 class="card-title">El periodo de garantía por defectos en la pintura es de:</h5>
                                                          <p class="card-text">
                                                                <ol type="A">
                                                                        <li>Cras justo odioi  <i class="fas fa-check-circle" style="color:lawngreen"></i></li>
                                                                        <li>Dapibus ac facilisis in <i class="fas fa-times-circle" style="color:crimson"></i></li>
                                                                        <li>Morbi leo risus <i class="fas fa-arrow-alt-circle-left" style="color:darkblue"></i> </li>
                                                                        <li>Porta ac consectetur ac</li>
                                                                        <li>Vestibulum at eros</li>
                                                                      </ol>
                                                          </p>
                                                        </div>
                                                        <div class="card-footer text-muted">
                                                                Puntos: 1 de 1
                                                              </div>
                                                      </div>

                                        </div>
                                        <div class="tab-pane fade" id="partial_question" role="tabpanel" aria-labelledby="partial_question-tab">...</div>
                                        <div class="tab-pane fade" id="wrong_question" role="tabpanel" aria-labelledby="wrong_question-tab">...</div>
                                  </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div>
    <!--------------------------------------test-->
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
    <!--------------------------------------test-->
</body>

</html>