@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/segoeui/SegoeUI.eot');
  src: url('/fonts/segoeui/SegoeUI.eot?#iefix') format('embedded-opentype'),
      url('/fonts/segoeui/SegoeUI.woff2') format('woff2'),
      url('/fonts/segoeui/SegoeUI.woff') format('woff'),
      url('/fonts/segoeui/SegoeUI.ttf') format('truetype'),
      url('/fonts/segoeui/SegoeUI.svg#SegoeUI') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Bold';
  src: url('/fonts/segoeui/SegoeUI-Bold.eot');
  src: url('/fonts/segoeui/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/segoeui/SegoeUI-Bold.woff2') format('woff2'),
      url('/fonts/segoeui/SegoeUI-Bold.woff') format('woff'),
      url('/fonts/segoeui/SegoeUI-Bold.ttf') format('truetype'),
      url('/fonts/segoeui/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Italic';
  src: url('/fonts/segoeui/SegoeUI-Italic.eot');
  src: url('/fonts/segoeui/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/segoeui/SegoeUI-Italic.woff2') format('woff2'),
      url('/fonts/segoeui/SegoeUI-Italic.woff') format('woff'),
      url('/fonts/segoeui/SegoeUI-Italic.ttf') format('truetype'),
      url('/fonts/segoeui/SegoeUI-Italic.svg#SegoeUI-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI Light';
  src: url('/fonts/segoeui/SegoeUI-Light.eot');
  src: url('/fonts/segoeui/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/segoeui/SegoeUI-Light.woff2') format('woff2'),
      url('/fonts/segoeui/SegoeUI-Light.woff') format('woff'),
      url('/fonts/segoeui/SegoeUI-Light.ttf') format('truetype'),
      url('/fonts/segoeui/SegoeUI-Light.svg#SegoeUI-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

button{
  padding: 8px 40px !important;
}
.btn{
  font-family: 'Segoe UI Bold' !important;
  background-color: #003851;
  color: white;
  border: 1px solid #003851 !important;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 16px 47px 16px 47px;
  opacity: 1;
  cursor: pointer;
}
a,a p{
  font-family: 'Segoe UI Bold' !important;
}
.btn:hover, button:hover{
  color: #003851;
  background-color: white;
}

h1,h2{
  font-family: 'Segoe UI Bold' !important;
}
h3,h4,h5{
  font-family: 'Segoe UI' !important;
}
p,span{
  font-family: 'Segoe UI Light' !important;
}
.left-logo img{
  width: 300px;
  height: auto;
}
.logo img{
  width: 100%;
  height: auto;
}
.login img, .signup img{
  width: 70%;
}
#bg-cont{
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url('/img/bg_kapta1.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  right:0;
}
#bg-cont::before{
  content: '';
  position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(rgba(196, 102, 0, 0.1), #ff5423);
}

#switch-lang{
  background-size: 100%;
  padding: 8px 10px !important;
}

form input[type=password]:focus:not([readonly]),
form input[type=email]:focus:not([readonly]) {
  border-bottom: 1px solid #ff5423;
  box-shadow: 0 1px 0 0 #ff5423; }
  form input[type=password]:focus:not([readonly]) + label,
  form input[type=email]:focus:not([readonly]) + label {
    color: #ff5423; }



@media only screen and (max-width: 600px){
  .left-logo img{
    width: 100%;
  }
  #bg-cont{
    height: 100vh !important;
    background-repeat: repeat;
  }
}