<div style="position:fixed;" class="sidebar" data-color="orange" data-image="/img/sidebar-kapta.png">
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="/profile" rel="noopener noreferrer" className="simple-text">
                    <img src="/img/logo/kapta_white.png" alt="logo de K@PTA"/>
                </a>
            </div>
            <ul class="nav">
                <% if (sa == 1){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <i class="nc-icon nc-notes"></i>
                        <p lang="en">Home</p>
                        <p lang="es">Inicio</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/list">
                        <i class="nc-icon nc-circle-09"></i>
                        <p lang="en">Consultants</p>
                        <p lang="es">Consultores</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/categories">
                        <i class="nc-icon nc-chart-pie-35"></i>
                        <p lang="en">Categories</p>
                        <p lang="es">Categorías</p>
                    </a>
                </li>
                <% } %>
                        
                <% if (sa == 0){ %>

                    <li class="nav-item">
                            <a class="nav-link" href="/profile">
                                <i class="nc-icon nc-notes"></i>
                                <p lang="en">Home</p>
                                <p lang="es">Inicio</p>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="/link_inst/<%= user._id %>">
                                <i class="nc-icon nc-attach-87"></i>
                                <p lang="en">Evaluations</p>
                                <p lang="es">Evaluaciones</p>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="/list_part">
                                <i class="nc-icon nc-badge"></i>
                                <p lang="en">My participants</p>
                                <p lang="es">Mis participantes</p>
                            </a>
                        </li>

                <% } %>

                <li class="nav-item active active-pro">
                    <a class="nav-link active" href="http://kapta.biz" rel="noopener noreferrer" target="_blank">
                        <i class="nc-icon nc-bag"></i>
                        <p lang="en">About K@PTA</p>
                        <p lang="es">Acerca de K@PTA</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>