<div style="position:fixed;" class="sidebar" data-color="orange" data-image="/img/sidebar-kapta.png">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/profile" rel="noopener noreferrer" className="simple-text">
                <img src="/img/logo/kapta_white.png" alt="logo de K@PTA" />
            </a>
        </div>
        <ul class="nav">
            <% if (user.sa == 1){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <i class="nc-icon nc-notes"></i>
                        <p lang="en">Home</p>
                        <p lang="es">Inicio</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/users_list">
                        <i class="nc-icon nc-circle-09"></i>
                        <p lang="en">Users</p>
                        <p lang="es">Usuarios</p>
                    </a>
                </li>
                <% } %>

                    <% if (user.sa == 0){ %>

                        <li class="nav-item">
                            <a class="nav-link" href="/profile">
                                <i class="nc-icon nc-notes"></i>
                                <p lang="en">Home</p>
                                <p lang="es">Inicio</p>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="/tests_list_cons/<%=user._id%>">
                                <i class="nc-icon nc-attach-87"></i>
                                <p lang="en">Assessments</p>
                                <p lang="es">Evaluaciones</p>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="/compare">
                                <i class="nc-icon nc-ruler-pencil"></i>
                                <p lang="en">Compare knowledge test results</p>
                                <p lang="es">Comparar los resultados de las pruebas de conocimiento</p>
                            </a>
                        </li>

                        <% } %>

                            <% if (user.sa == 2){ %>

                                <li class="nav-item">
                                    <a class="nav-link" href="/profile">
                                        <i class="nc-icon nc-notes"></i>
                                        <p lang="en">Home</p>
                                        <p lang="es">Inicio</p>
                                    </a>
                                </li>
                                <!-- <li>
                                    <a class="nav-link" href="/tests_list_admin/<%= user._id %>">
                                        <i class="nc-icon nc-attach-87"></i>
                                        <p lang="en">Tests</p>
                                        <p lang="es">Pruebas</p>
                                    </a>
                                </li> -->
                                <li>
                                    <a class="nav-link" href="/users_list">
                                        <i class="nc-icon nc-circle-09"></i>
                                        <p lang="en">Dealers</p>
                                        <p lang="es">Concesionarios</p>
                                    </a>
                                </li>
                               <!--  <li>
                                    <a class="nav-link" href="/compare">
                                        <i class="nc-icon nc-ruler-pencil"></i>
                                        <p lang="en">Compare results</p>
                                        <p lang="es">Comparar resultados</p>
                                    </a>
                                </li> -->

                                <% } %>

                                    <li class="nav-item active active-pro">
                                        <a class="nav-link active" href="http://kapta.biz" rel="noopener noreferrer" target="_blank">
                                            <i class="nc-icon nc-bag"></i>
                                            <p lang="en">About K@PTA</p>
                                            <p lang="es">Acerca de K@PTA</p>
                                        </a>
                                    </li>
        </ul>
    </div>
</div>