<nav class="navbar navbar-expand-lg " color-on-scroll="500">
            <div class=" container-fluid  ">
                <a class="navbar-brand" href="#">    
                <% sa=user.sa; 
                    
                    if(sa==1){ %> 
                        Administrador 
                    <% }else{ %>
                       Consultor  
                    <% } %> 
                
                </a>
                
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link">
                                <span style="color:gray" class="no-icon"><%= user.local.email %></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">
                                <span style="color:gray"  class="no-icon">Salir</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>