<nav class="navbar navbar-expand-lg " color-on-scroll="500">
    <div class=" container-fluid  ">
        <a class="navbar-brand" href="#">
            <% sa=user.sa; 
                    
                    if(sa==1){ %>
                <span lang="en">SuperAdministrator</span>
                <span lang="es">SuperAdministrador</span>
                <% }else if (sa==0){ %>
                    <span lang="en">Consultant</span>
                    <span lang="es">Consultor</span>
                    <% }else{%>
                        <span lang="en">Administrator</span>
                        <span lang="es">Administrador</span>
                        <%} %>
        </a>

        <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button id="switch-lang" class="btn">
                        <span lang="en">EN</span>
                        <span lang="es">ES</span>
                        <img lang="es" src="../../img/lang/spanish.png" width="30" />
                        <img lang="en" src="../../img/lang/english.png" width="30" />
                    </button>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <span style="color:gray" class="no-icon"><%= user.local.email %></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <span lang="en" style="color:gray" class="no-icon">Log out</span>
                        <span lang="es" style="color:gray" class="no-icon">Salir</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>